/* .features{
    padding: 0 535px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img{
    background-color: aquamarine;
    margin: 10px auto;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: gainsboro;
} */


.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: right;}
.item5{grid-area: footer;}

.gridContainer{
    display: grid;
    background-color: #fcdada;
    padding: 10px;
    gap: 10px;
    grid-template-areas: 
    'header header header header header'
    'main main main right menu'
    'footer footer footer footer footer'

    ;
}

.div{
    background-color: #5c969e;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 200px;
}